<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmong.infra.order.OrderMainMybatisRepository">

    <select id="findAllByKeyword"
            parameterType="string"
            resultType="com.kmong.domain.order.OrderMain">
        SELECT *
        FROM esim_order_main
        WHERE product_order_id   LIKE CONCAT('%', #{keyword}, '%')
        OR order_date         LIKE CONCAT('%', #{keyword}, '%')
        OR order_number       LIKE CONCAT('%', #{keyword}, '%')
        OR orderer_name       LIKE CONCAT('%', #{keyword}, '%')
        OR receiver_name      LIKE CONCAT('%', #{keyword}, '%')
        OR purchase_channel   LIKE CONCAT('%', #{keyword}, '%')
        OR product_option     LIKE CONCAT('%', #{keyword}, '%')
        OR CAST(quantity AS CHAR)       LIKE CONCAT('%', #{keyword}, '%')
        OR CAST(original_price AS CHAR) LIKE CONCAT('%', #{keyword}, '%')
        OR currency           LIKE CONCAT('%', #{keyword}, '%')
        OR message            LIKE CONCAT('%', #{keyword}, '%')
        OR payment_status     LIKE CONCAT('%', #{keyword}, '%')
        OR issue_status       LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>
